*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#757474bb;
overflow-x:hidden;

}

/*Navbar file*/

.navbar{
position:absolute;
top:0;
left:0;
right:0;
padding:25px 70px;
display:flex;
justify-content:space-between;
align-items:center;
z-index:20;

}
.logo{

color:white;
font-size:28px;
font-weight:700;

}
ul{

display:flex;
gap:40px;
list-style:none;
color:white;

}

li{
cursor:pointer;
}
li:hover{
color:#d4a55d;
}

.hero{
height:100vh;
background-image:url("../assets/hero.jpg");
background-size:cover;
background-position:center;
position:relative;
}
.hero::before{
content:"";
position:absolute;
inset:0;
}

.overlay{
position:absolute;
top:50%;
left:50%;
text-align:center;
color:white;
z-index:2;
}

.overlay h1{
font-size:64px;
font-weight:600;
margin-bottom:20px;
}

.overlay p{
font-size:22px;
margin-bottom:40px;
}

.overlay button{
padding:16px 40px;
background:#b58a4a;
border:none;
color:white;
font-size:18px;
border-radius:8px;
cursor:pointer;
transition:.3s;
}